<aside class="filter-sidebar">
    <h2>Lọc theo loại xe</h2>
    <label><input type="checkbox"> Xe địa hình</label>
    <label><input type="checkbox"> Xe đua</label>
    <label><input type="checkbox"> Xe trẻ em</label>
</aside>