@{
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/LayoutClient.css" />
    <link rel="stylesheet" href="~/css/ChiTietDonThue.css" />
}
<div class="back-button" onclick="history.back()">
    &#8592; Quay lại
</div>
<div class="ndung-container">
    <div class="ndung">
        <h5 class="qly">CHI TIẾT ĐƠN THUÊ</h5>
        <div class="detail">

            <div class="ngang">
                <p class="text">Mã đơn thuê</p>
                <span class="dlieu">DT01</span>
            </div>

            <div class="ngang">
                <p class="text">Địa điểm thuê</p>
                <span class="dlieu">Cửa hàng GIANT</span>
                <p class="text">Địa chỉ</p>
                <span class="dlieu">180 Trần Cao Vân, Hội An</span>
                <p class="text">SDT liên hệ</p>
                <span class="dlieu">0123456789</span>
            </div>

            <div class="ngang">
                <p class="text">Loại xe đặt</p>
            </div>

            <div class="ngang">
                <p class="text">Xe đạp địa hình</p>
                <span class="dlieu">01 chiếc</span>
                <p class="text">Đơn giá</p>
                <span class="dlieu">150.000 đ</span>
            </div>

            <div class="ngang">
                <p class="text">Xe đạp thể thao</p>
                <span class="dlieu">01 chiếc</span>
                <p class="text">Đơn giá</p>
                <span class="dlieu">150.000 đ</span>
            </div>

            <div class="ngang">
                <p class="text">Nhận xe lúc</p>
                <span class="dlieu">18:00, 22/03/2025</span>
                <p class="text">Số giờ thuê</p>
                <span class="dlieu">1 giờ</span>
                <p class="text">Trả xe lúc</p>
                <span class="dlieu">19:00, 22/03/2025</span>
            </div>

            <div class="ngang">
                <p class="text">Tạm tính</p>
                <span class="dlieu">250.000 đ</span>
            </div>

            <div class="ngang">
                <p class="text">Mã khuyến mãi</p>
                <span class="dlieu">DISCOUNT</span>
                <p class="text">Nội dung</p>
                <span class="dlieu">Giảm 10% cho hóa đơn trên 250.000 đ</span>
            </div>

            <div class="ngang">
                <p class="text">Giảm giá</p>
                <span class="dlieu">- 25.000 đ</span>
            </div>

            <div class="ngang">
                <p class="text">Tổng cộng</p>
                <span class="dlieu">225.000 đ</span>
            </div>

            <div class="ngang">
                <p class="text">Ghi chú (tùy chọn)</p>
                <span class="dlieu">Yêu cầu xe còn mới</span>
            </div>

            <div class="button-group">
                <a asp-area="Client" asp-controller="DonThue" asp-action="DanhGia"><button class="btn3" type="submit">Đánh giá</button></a>
            </div>

        </div>
    </div>
</div>
