@{
    Layout = "~/Areas/Client/Views/Shared/_LayoutCuaHang.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/LayoutClient.css" />
}
<header>
    <nav class="main-nav">
        <a asp-area="Client" asp-controller="CuaHang" asp-action="ThongTinCuaHang">Thông tin cửa hàng</a>
        <a asp-area="Client" asp-controller="CuaHang" asp-action="DanhSachXe">Quản lý xe</a>
        <a asp-area="Client" asp-controller="CuaHang" asp-action="DonThueChoDuyet">Quản lý đơn thuê</a>
        <a href="#">Báo cáo</a>
        <a asp-area="Client" asp-controller="CuaHang" asp-action="DanhSachKhuyenMai" class="active">Khuyến mãi</a>
    </nav>
</header>
<!-- WRAPPER -->
<div class="wrapper_cuahang">
    <aside>
        <h3>Quản lý</h3>
        <nav>
            <a class="active">Danh sách mã</a>
            <a asp-area="Client" asp-controller="CuaHang" asp-action="ThemMaKhuyenMai">Thêm mã</a>
        </nav>
    </aside>

    <div class="content_cuahang">
        <div class="container_cuahang">
            <h2>Danh sách xe đạp</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Mã khuyến mãi</th>
                        <th>Mức giảm giá</th>
                        <th>Đơn tối thiểu</th>
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        <th>Số lượng còn</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>G18</td>
                        <td>15%</td>
                        <td>300.000 VND</td>
                        <td>10/05/2025</td>
                        <td>20/05/2025</td>
                        <td>13</td>
                        <td>
                            <a href="#"><i class="fa-solid fa-pen"></i></a>
                            <a href="#"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>G18</td>
                        <td>15%</td>
                        <td>300.000 VND</td>
                        <td>10/05/2025</td>
                        <td>20/05/2025</td>
                        <td>13</td>
                        <td>
                            <a href="#"><i class="fa-solid fa-pen"></i></a>
                            <a href="#"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>G18</td>
                        <td>15%</td>
                        <td>300.000 VND</td>
                        <td>10/05/2025</td>
                        <td>20/05/2025</td>
                        <td>13</td>
                        <td>
                            <a href="#"><i class="fa-solid fa-pen"></i></a>
                            <a href="#"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>G18</td>
                        <td>15%</td>
                        <td>300.000 VND</td>
                        <td>10/05/2025</td>
                        <td>20/05/2025</td>
                        <td>13</td>
                        <td>
                            <a href="#"><i class="fa-solid fa-pen"></i></a>
                            <a href="#"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>G18</td>
                        <td>15%</td>
                        <td>300.000 VND</td>
                        <td>10/05/2025</td>
                        <td>20/05/2025</td>
                        <td>13</td>
                        <td>
                            <a href="#"><i class="fa-solid fa-pen"></i></a>
                            <a href="#"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>