@{
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/LayoutClient.css" />
    <link rel="stylesheet" href="~/css/ChiTietCuaHang.css" />

}

<div class="banner">
    <div>
        <div style="display: flex;">
            <h5 style="color: white;font-size: 20px;margin-left: 40px;">CỬA HÀNG GIANT</h5>
            <div class="stars">
                <img src="~/images/star2.png" alt="star" class="star-icon">
                <img src="~/images/star2.png" alt="star" class="star-icon">
                <img src="~/images/star2.png" alt="star" class="star-icon">
                <img src="~/images/star2.png" alt="star" class="star-icon">
                <img src="~/images/star2.png" alt="star" class="star-icon">
            </div>
        </div>
        <p style="margin-left: 40px;" class="text">
            GIANT – Đồng hành cùng bạn trên mọi hành trình!
            Chúng tôi cam kết mang đến dịch vụ cho thuê xe đạp chất lượng cao với đội xe luôn được bảo dưỡng định kỳ, đảm bảo an toàn và thoải mái cho khách hàng.
        </p>
        <div style="display: flex;gap:5px">
            <p style="color: white;margin-left: 40px;">Địa chỉ: 180 Trần Cao Vân, Hội An</p>
            <p style="color: white;margin-left: 30px;">SĐT liên hệ: 0123456789</p>
        </div>
    </div>
    <img src="~/images/avatar-cuahang.jpg" alt="Banner">
</div>

<main class="main-content">
    <aside class="filter-sidebar">
        <h2>Lọc theo loại xe</h2>
        <label><input type="checkbox"> Xe địa hình</label>
        <label><input type="checkbox"> Xe đua</label>
        <label><input type="checkbox"> Xe trẻ em</label>
    </aside>

    <section class="bike-list">
        <a asp-area="Client" asp-controller="XemChiTiet" asp-action="ChiTietXe">
            <div class="xe-card">
                <img src="https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-4.0.3&auto=format&fit=crop&q=80" alt="Xe đạp địa hình">
                <div class="xe-card-body">
                    <p class="tenXe">Xe đạp địa hình <span class="loai">(MTB)</span></p>
                    <p class="moTa">Chinh phục mọi địa hình, mạnh mẽ và bền bỉ</p>
                    <p class="gia">Giá thuê: <span>100.000 đ/chiếc</span></p>
                </div>
            </div>
        </a>


        <a asp-area="Client" asp-controller="XemChiTiet" asp-action="ChiTietXe">
            <div class="xe-card">
                <img src="https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-4.0.3&auto=format&fit=crop&q=80" alt="Xe đạp đua">
                <div class="xe-card-body">
                    <p class="tenXe">Xe đạp đua <span class="loai">(Hybrid-Bike)</span></p>
                    <p class="moTa">Tốc độ cao, nhẹ nhàng, linh hoạt, hiệu suất cao</p>
                    <p class="gia">Giá thuê: <span>150.000 đ/chiếc</span></p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="xe-card">
                <img src="https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-4.0.3&auto=format&fit=crop&q=80" alt="Xe trẻ em">
                <div class="xe-card-body">
                    <p class="tenXe">Xe đạp trẻ em</p>
                    <p class="moTa">An toàn, thiết kế dễ thương, phù hợp trẻ nhỏ</p>
                    <p class="gia">Giá thuê: <span>70.000 đ/chiếc</span></p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="xe-card">
                <img src="https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-4.0.3&auto=format&fit=crop&q=80" alt="Xe đạp địa hình">
                <div class="xe-card-body">
                    <p class="tenXe">Xe đạp địa hình <span class="loai">(MTB)</span></p>
                    <p class="moTa">Chinh phục mọi địa hình, mạnh mẽ và bền bỉ</p>
                    <p class="gia">Giá thuê: <span>100.000 đ/chiếc</span></p>
                </div>
            </div>
        </a>


        <a href="#">
            <div class="xe-card">
                <img src="https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-4.0.3&auto=format&fit=crop&q=80" alt="Xe đạp đua">
                <div class="xe-card-body">
                    <p class="tenXe">Xe đạp đua <span class="loai">(Hybrid-Bike)</span></p>
                    <p class="moTa">Tốc độ cao, nhẹ nhàng, linh hoạt, hiệu suất cao</p>
                    <p class="gia">Giá thuê: <span>150.000 đ/chiếc</span></p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="xe-card">
                <img src="https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-4.0.3&auto=format&fit=crop&q=80" alt="Xe trẻ em">
                <div class="xe-card-body">
                    <p class="tenXe">Xe đạp trẻ em</p>
                    <p class="moTa">An toàn, thiết kế dễ thương, phù hợp trẻ nhỏ</p>
                    <p class="gia">Giá thuê: <span>70.000 đ/chiếc</span></p>
                </div>
            </div>
        </a>

    </section>
</main>


